extends layout

block layout-content
  div.container
    div#route-list.list-group.p-5
      h2.text-center Campaigns
      if campaigns.length
        each campaign in campaigns
          a.list-group-item.shadow.rounded.mb-4(href=`/${appliance}/${campaign.id}`)= campaign.name
      else 
        p.text-center There are no campaigns available for this appliance.