extends layout

block layout-content
  div.container-fluid
    div.row.window-full.text-center
      h2.h-10= route.name
      div#map.h-80
      div.geotracking-btn.h-10.p-1
        button#broadcast-btn.btn.btn-primary.w-50.h-100 Begin Broadcasting

block scripts
  script(src="/socket.io-3.0.5.min.js")
  script(src="/socket-module.js")
  script.
    $(document).ready(() => {
      Socket.init(io, "/index")
    })



  script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA-mt-i_pr6GyalJImniP1JZuZEIDbikzk&callback=initMap")