/* public/style.css */

.item, .item a {
    background-color: #b8dfb8;
    font-weight: bold;
}

.available {
    color: green;
}

.unavailable {
    color: red;
}

.h-10 {
    height: 10%;
}

.h-80 {
    height: 80%;
}

#login-form {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

#login-form input[type="text"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

#login-form input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

@media only screen and (min-width: 992px) {
    .navbar .navbar-nav .nav-item .nav-link {
      padding: 0 0.5em;
    }
    .navbar .navbar-nav .nav-item:not(:last-child) .nav-link {
      border-right: 2px solid #000000;
      border-color: rgba(255,255,255,.55);
    }
}